# server port
PORT=7837

# server host
HOST=127.0.0.1

# jwt secret, make sure you change it in production
JWT_SECRET=283ert544trggger283ert544trggger283ert544trggger283ert544trggger283ert544trggger283ert544trggger
JWT_USERS=username1,username2,xxxx,hhhh
# FILE_STORE_PATH=/home/some/folder